In [40]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('bmh')

In [41]:
data_train = pd.read_csv('/Users/dmitrybertnikov/Desktop/ds_learn/NasaTurbofan/data/train_FD001.txt',sep=" ",header=None)
data_test = pd.read_csv('/Users/dmitrybertnikov/Desktop/ds_learn/NasaTurbofan/data/test_FD001.txt',sep=" ",header=None)
data_RUL = pd.read_csv('/Users/dmitrybertnikov/Desktop/ds_learn/NasaTurbofan/data/RUL_FD001.txt',sep=" ",header=None)

In [42]:
data_train

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,NaN,NaN
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,NaN,NaN
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,NaN,NaN
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,NaN,NaN
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,NaN,NaN

In [43]:
data_test

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974,NaN,NaN
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771,NaN,NaN
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051,NaN,NaN
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699,NaN,NaN
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855,NaN,NaN

In [44]:
data_RUL

      0   1
0   112 NaN
1    98 NaN
2    69 NaN
3    82 NaN
4    91 NaN
..  ...  ..
95  137 NaN
96   82 NaN
97   59 NaN
98  117 NaN
99   20 NaN

[100 rows x 2 columns]

In [45]:
data_train.drop(columns=[26,27], inplace=True)
data_test.drop(columns=[26,27], inplace=True)
data_RUL.drop(columns=[1],inplace=True)

In [46]:
data_train.describe().T

,count,mean,std,min,25%,50%,75%,max
0,20631.0,51.506568,2.922763e+01,1.0000,26.0000,52.0000,77.0000,100.0000
1,20631.0,108.807862,6.888099e+01,1.0000,52.0000,104.0000,156.0000,362.0000
2,20631.0,-0.000009,2.187313e-03,-0.0087,-0.0015,0.0000,0.0015,0.0087
3,20631.0,0.000002,2.930621e-04,-0.0006,-0.0002,0.0000,0.0003,0.0006
4,20631.0,100.000000,0.000000e+00,100.0000,100.0000,100.0000,100.0000,100.0000
5,20631.0,518.670000,0.000000e+00,518.6700,518.6700,518.6700,518.6700,518.6700
6,20631.0,642.680934,5.000533e-01,641.2100,642.3250,642.6400,643.0000,644.5300
7,20631.0,1590.523119,6.131150e+00,1571.0400,1586.2600,1590.1000,1594.3800,1616.9100
8,20631.0,1408.933782,9.000605e+00,1382.2500,1402.3600,1408.0400,1414.5550,1441.4900
9,20631.0,14.620000,5.329200e-15,14.6200,14.6200,14.6200,14.6200,14.6200
10,20631.0,21.609803,1.388985e-03,21.6000,21.6100,21.6100,21.6100,21.6100
11,20631.0,553.367711,8.850923e-01,549.8500,552.8100,553.4400,554.0100,556.0600
12,20631.0,2388.096652,7.098548e-02,2387.9000,2388.0500,2388.0900,2388.1400,2388.5600
13,20631.0,9065.242941,2.208288e+01,9021.7300,9053.1000,9060.6600,9069.4200,9244.5900
14,20631.0,1.300000,0.000000e+00,1.3000,1.3000,1.3000,1.3000,1.3000
15,20631.0,47.541168,2.670874e-01,46.8500,47.3500,47.5100,47.7000,48.5300
16,20631.0,521.413470,7.375534e-01,518.6900,520.9600,521.4800,521.9500,523.3800
17,20631.0,2388.096152,7.191892e-02,2387.8800,2388.0400,2388.0900,2388.1400,2388.5600
18,20631.0,8143.752722,1.907618e+01,8099.9400,8133.2450,8140.5400,8148.3100,8293.7200
19,20631.0,8.442146,3.750504e-02,8.3249,8.4149,8.4389,8.4656,8.5848
20,20631.0,0.030000,3.469531e-18,0.0300,0.0300,0.0300,0.0300,0.0300
21,20631.0,393.210654,1.548763e+00,388.0000,392.0000,393.0000,394.0000,400.0000
22,20631.0,2388.000000,0.000000e+00,2388.0000,2388.0000,2388.0000,2388.0000,2388.0000
23,20631.0,100.000000,0.000000e+00,100.0000,100.0000,100.0000,100.0000,100.0000
24,20631.0,38.816271,1.807464e-01,38.1400,38.7000,38.8300,38.9500,39.4300
25,20631.0,23.289705,1.082509e-01,22.8942,23.2218,23.2979,23.3668,23.6184

In [47]:
index_names = ['unit_number', 'time_cycles']
setting_names = ['setting_1', 'setting_2', 'setting_3']
sensor_names = ['sensor_{}'.format(i+1) for i in range(0,21)]
col_names = index_names + setting_names + sensor_names

In [48]:
data_train.columns = col_names

In [49]:
data_train.head()

,unit_number,time_cycles,setting_1,setting_2,setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [50]:
data_train.isnull().sum()

unit_number    0
time_cycles    0
setting_1      0
setting_2      0
setting_3      0
sensor_1       0
sensor_2       0
sensor_3       0
sensor_4       0
sensor_5       0
sensor_6       0
sensor_7       0
sensor_8       0
sensor_9       0
sensor_10      0
sensor_11      0
sensor_12      0
sensor_13      0
sensor_14      0
sensor_15      0
sensor_16      0
sensor_17      0
sensor_18      0
sensor_19      0
sensor_20      0
sensor_21      0
dtype: int64

Каждый двигатель работает до отказа, поэтому RUL в каждом цикле определяется как разница между последним наблюдаемым циклом для этого двигателя и текущим циклом. Это преобразует набор данных в контролируемый формат регрессии.

In [51]:
# RUL calculaete 
max_cycles = data_train.groupby('unit_number')['time_cycles'].max().reset_index()
max_cycles.columns = ['unit_number', 'max_cycles']
data_train = pd.merge(data_train, max_cycles, how='left', on='unit_number')
data_train['RUL'] = data_train['max_cycles'] - data_train['time_cycles']
data_train.drop('max_cycles',axis=1, inplace=True)
print('RUL calculate competed')

RUL calculate competed

In [52]:
data_train

,unit_number,time_cycles,setting_1,setting_2,setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,4
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,3
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,2
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,1
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,0

In [63]:
# Feature engineering
def create_engine_features_fixed(df):

    sensor_cols = [col for col in df.columns if 'sensor' in col]
    
    engine_features = []
    
    for engine_id in df['unit_number'].unique():  
        engine_data = df[df['unit_number'] == engine_id]
        
        features = {'unit_number': engine_id}
        
        # Для каждого датчика считаем статистики
        for sensor in sensor_cols:
            sensor_data = engine_data[sensor]
            
            # Базовые статистики 
            features[f'{sensor}_mean'] = float(sensor_data.mean())
            features[f'{sensor}_std'] = float(sensor_data.std())
            features[f'{sensor}_min'] = float(sensor_data.min())
            features[f'{sensor}_max'] = float(sensor_data.max())
            
            # Тренд (линейный)
            if len(sensor_data) > 1:
                x = np.arange(len(sensor_data))
                slope = np.polyfit(x, sensor_data.values, 1)[0]
                features[f'{sensor}_trend'] = float(slope)
            else:
                features[f'{sensor}_trend'] = 0.0
        
        
        if 'RUL' in engine_data.columns:
            features['RUL'] = float(engine_data['RUL'].iloc[0])
        else:
            features['RUL'] = 0.0  # или посчитать если нужно
        
        engine_features.append(features)
    
    return pd.DataFrame(engine_features)

In [64]:
df = create_engine_features_fixed(data_train)
df.head().T

                          0           1           2           3           4
unit_number        1.000000    2.000000    3.000000    4.000000    5.000000
sensor_1_mean    518.670000  518.670000  518.670000  518.670000  518.670000
sensor_1_std       0.000000    0.000000    0.000000    0.000000    0.000000
sensor_1_min     518.670000  518.670000  518.670000  518.670000  518.670000
sensor_1_max     518.670000  518.670000  518.670000  518.670000  518.670000
...                     ...         ...         ...         ...         ...
sensor_21_std      0.105101    0.114796    0.104734    0.093804    0.112705
sensor_21_min     22.958800   22.972100   22.956200   23.013500   23.019500
sensor_21_max     23.499900   23.600500   23.518100   23.507400   23.550300
sensor_21_trend   -0.001444   -0.001078   -0.001426   -0.001122   -0.001119
RUL              191.000000  286.000000  178.000000  188.000000  268.000000

[107 rows x 5 columns]

In [62]:
df['RUL'].value_counts()

RUL
0.0    100
Name: count, dtype: int64